 
   body{background-color: black; max-width:500px; max-height: 500px; color: aliceblue;}
   
   #results{border: solid 3px yellow none; text-align: center;}

   #table{border: solid 2px red none; vertical-align: middle;
        max-height: auto; border-collapse: collapse; justify-content: center; justify-items: center;}
   
   
    .posizione{border: solid 3px rgb(234, 234, 240)none ; height:18px; width:15px; display:flex; border-radius: 5px 0px 0px 0px;
                color: white; background-color: rgb(255, 0, 0); overflow: hidden; padding: 0px; margin: 0px;
                font-size:20px; justify-content:center; justify-items: center; font-size:large; font-weight:bold;}
    
    
 .name{border: solid 3px rgb(234, 234, 240) none ;color: white; font-family: 'Times New Roman', Times, serif;
  font-weight: bold; font-size:100%; vertical-align: middle;}



      .best{border: solid 3px rgb(234, 234, 240)none  ;color: rgb(255, 0, 255); font-family: 'Times New Roman', Times, serif;
  font-weight: bold; font-size:100%;   vertical-align: middle; justify-items: start; padding-left: 5px; text-align: center;}


       .gap{border: solid 3px rgb(234, 234, 240) none  ;color: rgb(255, 0, 0); padding-left: 25px;
  font-weight: bold; font-size:100%;  justify-content: end;}

  .laps{color: white; border: solid 3px red none;  justify-content: center; justify-items: center;}

    