 body {
      font-family: 'Arial', sans-serif;
      background-color: #111;
      color: #eee;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 30px;
      font-size: 2em;
    }

    table {
      table-layout: auto;
      width: 100%;
      border-collapse: collapse;
      background-color: #1a1a1a;
      box-shadow: 0 0 20px rgba(0,0,0,0.6);
    }

    th, td {
      padding: 12px;
      text-align: center;
      border: 1px solid #333;
    }

    th {
      background-color: #2a2a2a;
      color: #f2f2f2;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    tbody tr:nth-child(odd) {
      background-color: #1f1f1f;
    }

    tbody tr:nth-child(even) {
      background-color: #2a2a2a;
    }

    tbody tr:hover {
      background-color: #333;
    }

    .position {
      color:white;
      font-weight: bold;
      background-color: red;
      padding: 0px;
    }

    .bestlap {
      color: #1db954;
    }

    .totaltime {
      color: #ff9500;
    }

#resultsTable td:nth-child(2),
#resultsTable th:nth-child(2) {
  min-width: 180px; /* puoi aumentare se serve */
  white-space: nowrap; /* evita che vada a capo */
}

.homebtn{color: white;
border: solid 2px gold;
margin-left: 15px;
text-decoration: none;
margin-top: 15px;
border-radius:25px;
font-size: small;
width: 50px;
text-align: center;
height: 15px;
padding: 0px;
position: absolute;}

 .btnhome{
    background-image: url(arrowsxwite.png); 
    width: 60px; background-repeat: no-repeat;
    height: 80px; background-position: center;
    border: solid 2px red none ; 
    position: absolute;
    margin-top: -15px;
    margin-left:85%;
    text-decoration: none;
    text-align: center;    
    color:white;
    cursor: pointer;}
       
